@import 'partials/variables';
@import 'partials/layout';
@import 'partials/normalize';
@import 'partials/typography';
@import 'partials/helpers';
@import 'partials/search';
@import 'partials/history';

.video-container {

}

.events-container {
  h1 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-weight: normal;
  }
}

header {
  height: 56px;
  background: $headerGrad;
  display: flex;
}

.content {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.content .video-container {
  width: 78%;
  padding: 10px 0 0 10px;
}

.content .events-container {
  width: 22%;
  padding: 10px;
}

.content > div:first-child {
  margin-right: 10px;
}

.hidden {
  display: none;
}

.card {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow: auto;
  margin-bottom: 20px;
  max-height: 990px;
}

.pull-left {
  float: left;
}