doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
      .search-container
        .search
          input(type="text" name="search" id="search-input" placeholder="Video URL or search term")

    .content
      block content

    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js")
      script(src="/dist/App.bundle.js")
