doctype html
html
  head
    title= `${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
      .search-container
        .search
          input(type="text" name="search" id="search-input" placeholder="Video URL or type to search")
        .search-results-container.card.hidden
          ul.list#search-results
      .user-container
        if user
          .user-icon
            img(src=user.google.profileImageUrl)
            span.logout
              a(href="/logout") Sign out

    .content
      block content

    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js")
      script(src="/dist/App.bundle.js")
