.search {
  position: relative;
  width: 700px;
  margin: 0 auto;

  & input {
    width: 100%;
    line-height: 2;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding-left: 5px;
    font-family: 'Roboto';
  }
}

.search-container {
  width: 80%;
  padding: 10px 0;
}

.search-results-container {
  position: relative;
  width: 700px;
  margin: 0 auto;
  margin-top: 5px;

  a {
    display: block;

    &:hover {
      background: #eee;
    }
  }

  .tile-content {
    padding-left: 0 !important;
  }

  .tile-text {
    padding-left: 10px !important;
    padding-top: 0 !important;
  }
}